.list-sub-counties {
  border: 1px solid gray;
  margin-top: 20%;
  padding: 0 10em 2em 20em;
  height: 400px;
  overflow-y: scroll;
  .sub-county {
    padding: 1em;
    color: dodgerblue;
    font-weight: bold;
    cursor: pointer;
  }
}
