<div class="body">
  <div class="chat-list">
    <div class="top-list">
      <div class="nav-bar">
        <span class="profile-picture">
          <img height="40px" src="https://lh3.googleusercontent.com/-gqegbA4lDbw/AAAAAAAAAAI/AAAAAAAAAAA/ACHi3rcdc_7n8jwKqOXfZ_itT8R-JYnnng.CMID/s64-c/photo.jpg" alt="profile"/>
        </span>
        <div class="space">

        </div>
        <span class="icons">
          <span class="message">
            <i class="material-icons">
              chat
            </i>
          </span>
          <span class="more_vert">
            <i class="material-icons">
              more_vert
            </i>
          </span>
        </span>
      </div>
      <div class="notifications">

      </div>
      <div class="search">
        <input type="text" placeholder="Search or start a new chat" />
      </div>
    </div>
    <div class="list">
<!--      To be removed this is dummy data-->
      <div class="list-chat">
        <span class="profile-picture">
          <img height="50px" src="https://lh3.googleusercontent.com/-VGlK_5gs2Us/AAAAAAAAAAI/AAAAAAAAAAA/ACHi3rd2IMdFT72yaiZLhM_70zEM9c5RoA.CMID/s32-c/photo.jpg" alt="profile"/>
        </span>
        <div class="b">
          <div class="name">
            Nancy Siz
          </div>
          <div class="time">
            15: 34
          </div>
          <div class="text">
            Hey I hope uko poa
          </div>
<!--          <div class="notifier">-->
<!--            1-->
<!--          </div>-->
        </div>
      </div>
    <div class="list-chat">
        <span class="profile-picture">
          <img height="50px" src="https://lh3.googleusercontent.com/-VGlK_5gs2Us/AAAAAAAAAAI/AAAAAAAAAAA/ACHi3rd2IMdFT72yaiZLhM_70zEM9c5RoA.CMID/s32-c/photo.jpg" alt="profile"/>
        </span>
      <div class="b">
        <div class="name">
          Bro
        </div>
        <div class="time">
          15: 34
        </div>
        <div class="text">
          Hey I hope uko poa
        </div>
        <div class="notifier">
          1
        </div>
      </div>
    </div><div class="list-chat">
        <span class="profile-picture">
          <img height="50px" src="https://lh3.googleusercontent.com/-VGlK_5gs2Us/AAAAAAAAAAI/AAAAAAAAAAA/ACHi3rd2IMdFT72yaiZLhM_70zEM9c5RoA.CMID/s32-c/photo.jpg" alt="profile"/>
        </span>
    <div class="b">
      <div class="name">
        Bro
      </div>
      <div class="time">
        15: 34
      </div>
      <div class="text">
        Hey I hope uko poa
      </div>
      <div class="notifier">
        1
      </div>
    </div>
  </div><div class="list-chat">
        <span class="profile-picture">
          <img height="50px" src="https://lh3.googleusercontent.com/-VGlK_5gs2Us/AAAAAAAAAAI/AAAAAAAAAAA/ACHi3rd2IMdFT72yaiZLhM_70zEM9c5RoA.CMID/s32-c/photo.jpg" alt="profile"/>
        </span>
    <div class="b">
      <div class="name">
        Nancee
      </div>
      <div class="time">
        15: 34
      </div>
      <div class="text">
        Hey I hope uko poa
      </div>
      <div class="notifier">
        1
      </div>
    </div>
  </div><div class="list-chat">
        <span class="profile-picture">
          <img height="50px" src="https://lh3.googleusercontent.com/-VGlK_5gs2Us/AAAAAAAAAAI/AAAAAAAAAAA/ACHi3rd2IMdFT72yaiZLhM_70zEM9c5RoA.CMID/s32-c/photo.jpg" alt="profile"/>
        </span>
    <div class="b">
      <div class="name">
        Moses
      </div>
      <div class="time">
        15: 34
      </div>
      <div class="text">
        Hey I hope uko poa
      </div>
      <div class="notifier">
        1
      </div>
    </div>
  </div><div class="list-chat">
        <span class="profile-picture">
          <img height="50px" src="https://lh3.googleusercontent.com/-VGlK_5gs2Us/AAAAAAAAAAI/AAAAAAAAAAA/ACHi3rd2IMdFT72yaiZLhM_70zEM9c5RoA.CMID/s32-c/photo.jpg" alt="profile"/>
        </span>
    <div class="b">
      <div class="name">
        Cheptoo
      </div>
      <div class="time">
        15: 34
      </div>
      <div class="text">
        Hey I hope uko poa
      </div>
      <div class="notifier">
        1
      </div>
    </div>
  </div><div class="list-chat">
        <span class="profile-picture">
          <img height="50px" src="https://lh3.googleusercontent.com/-VGlK_5gs2Us/AAAAAAAAAAI/AAAAAAAAAAA/ACHi3rd2IMdFT72yaiZLhM_70zEM9c5RoA.CMID/s32-c/photo.jpg" alt="profile"/>
        </span>
    <div class="b">
      <div class="name">
        Cherop
      </div>
      <div class="time">
        15: 34
      </div>
      <div class="text">
        Hey I hope uko poa
      </div>
<!--      <div class="notifier">-->

<!--      </div>-->
    </div>
  </div><div class="list-chat">
        <span class="profile-picture">
          <img height="50px" src="https://lh3.googleusercontent.com/-VGlK_5gs2Us/AAAAAAAAAAI/AAAAAAAAAAA/ACHi3rd2IMdFT72yaiZLhM_70zEM9c5RoA.CMID/s32-c/photo.jpg" alt="profile"/>
        </span>
    <div class="b">
      <div class="name">
        Nancy Siz
      </div>
      <div class="time">
        15: 34
      </div>
      <div class="text">
        Hey I hope uko poa
      </div>
<!--      <div class="notifier">-->

<!--      </div>-->
    </div>
  </div><div class="list-chat">
        <span class="profile-picture">
          <img height="50px" src="https://lh3.googleusercontent.com/-VGlK_5gs2Us/AAAAAAAAAAI/AAAAAAAAAAA/ACHi3rd2IMdFT72yaiZLhM_70zEM9c5RoA.CMID/s32-c/photo.jpg" alt="profile"/>
        </span>
    <div class="b">
      <div class="name">
        Nancy Siz
      </div>
      <div class="time">
        15: 34
      </div>
      <div class="text">
        Hey I hope uko poa
      </div>
<!--      <div class="notifier">-->

<!--      </div>-->
    </div>
  </div>
      <div class="list-chat">
        <span class="profile-picture">
          <img height="50px" src="https://lh3.googleusercontent.com/-VGlK_5gs2Us/AAAAAAAAAAI/AAAAAAAAAAA/ACHi3rd2IMdFT72yaiZLhM_70zEM9c5RoA.CMID/s32-c/photo.jpg" alt="profile"/>
        </span>
        <div class="b">
          <div class="name">
            Nancy Siz
          </div>
          <div class="time">
            15: 34
          </div>
          <div class="text">
            Hey I hope uko poa
          </div>
          <!--      <div class="notifier">-->

          <!--      </div>-->
        </div>
      </div>
      <div class="list-chat">
        <span class="profile-picture">
          <img height="50px" src="https://lh3.googleusercontent.com/-VGlK_5gs2Us/AAAAAAAAAAI/AAAAAAAAAAA/ACHi3rd2IMdFT72yaiZLhM_70zEM9c5RoA.CMID/s32-c/photo.jpg" alt="profile"/>
        </span>
        <div class="b">
          <div class="name">
            Nancy Siz
          </div>
          <div class="time">
            15: 34
          </div>
          <div class="text">
            Hey I hope uko poa
          </div>
          <!--      <div class="notifier">-->

          <!--      </div>-->
        </div>
      </div>
      <div class="list-chat">
        <span class="profile-picture">
          <img height="50px" src="https://lh3.googleusercontent.com/-VGlK_5gs2Us/AAAAAAAAAAI/AAAAAAAAAAA/ACHi3rd2IMdFT72yaiZLhM_70zEM9c5RoA.CMID/s32-c/photo.jpg" alt="profile"/>
        </span>
        <div class="b">
          <div class="name">
            Nancy Siz
          </div>
          <div class="time">
            15: 34
          </div>
          <div class="text">
            Hey I hope uko poa
          </div>
          <!--      <div class="notifier">-->

          <!--      </div>-->
        </div>
      </div>
      <div class="list-chat">
        <span class="profile-picture">
          <img height="50px" src="https://lh3.googleusercontent.com/-VGlK_5gs2Us/AAAAAAAAAAI/AAAAAAAAAAA/ACHi3rd2IMdFT72yaiZLhM_70zEM9c5RoA.CMID/s32-c/photo.jpg" alt="profile"/>
        </span>
        <div class="b">
          <div class="name">
            Nancy Siz
          </div>
          <div class="time">
            15: 34
          </div>
          <div class="text">
            Hey I hope uko poa
          </div>
          <!--      <div class="notifier">-->

          <!--      </div>-->
        </div>
      </div>
      <!--      To be removed this is dummy data-->
    </div>
  </div>
  <div class="chat-body">
    <div class="nav-bar">
      <div class="prof-pic">
        <span class="profile-picture">
          <img height="50px" src="https://lh3.googleusercontent.com/-gqegbA4lDbw/AAAAAAAAAAI/AAAAAAAAAAA/ACHi3rcdc_7n8jwKqOXfZ_itT8R-JYnnng.CMID/s64-c/photo.jpg" alt="profile"/>
        </span>
      </div>
      <div class="detail">
        <div class="name">
          Moses
        </div>
        <div class="last-seen">
          last seen today at 13:30
        </div>
      </div>
      <div class="icons">
        <i class="material-icons">
          search
        </i>
        <i class="rotate material-icons">
          attachment
        </i>
        <i class="material-icons">
          more_vert
        </i>
      </div>
    </div>
  </div>
</div>
